# Core
# list file here not to put in Github
minio_config
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# Bootstrap
/config.yaml
cloudflared.json
cloudflared.yaml
**/*.tmp.[extension]
old-template.yaml
apps
kompose
discovery-service
s3-backup-creds.yaml
/tmp/*
*.log
/patches/outputpatch.yaml
cloudflare-tunnel-secret.yaml
*/secrets/*
*auth*
auth